{% extends "layout.html" %}
{% block title %}Stock Management{% endblock %}
{% block content %}
    <h1>Stocks</h1>
    <div class="card card-body border-0 shadow table-wrapper table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="border-gray-200">Timestamp</th>
                    <th class="border-gray-200">Symbol</th>
                    <th class="border-gray-200">Buy Price</th>
                    <th class="border-gray-200">Latest Price</th>
                    <th class="border-gray-200">Profit/Loss (%)</th> <!-- Thêm cột Lãi/Lỗ -->
                    <th class="border-gray-200">Target 1</th>
                    <th class="border-gray-200">Target 2</th>
                    <th class="border-gray-200">Cut Loss</th>
                    <th class="border-gray-200">Note</th>
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <th class="border-gray-200">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>

                {% for stock in stocks %}
                    <tr>
                        <td><span class="fw-normal">{{ stock.timestamp }}</span></td>
                        <td><span class="fw-bold">{{ stock.symbol }}</span></td>
                        <td><span class="fw-normal">{{ stock.buy_price }}</span></td>
                        <td><span class="fw-normal">{{ stock.latest_price }}</span></td>
                        <!--<td>{{ "%.2f" % stock.profit_loss }}%</td>-->
                        {% if stock.profit_loss < 0 %}
                        <td> <span class="fw-bold text-danger">{{ "%.2f" % stock.profit_loss }}%</span></td>
                        {% endif %}
                        {% if stock.profit_loss >= 0 %}
                        <td> <span class="fw-bold text-success">{{ "%.2f" % stock.profit_loss }}%</span></td>
                        {% endif %}
                        <td><span class="fw-normal">{{ stock.target1 }}</span></td>
                        <td><span class="fw-normal">{{ stock.target2 }}</span></td>
                        <td><span class="fw-normal">{{ stock.cut_loss }}</span></td>
                        <td><span class="fw-normal">{{ stock.note }}</span></td>
                        {% if current_user.is_authenticated and current_user.is_admin %}
                            <td>
                                <a href="{{ url_for('edit_stock', id=stock.id) }}">Edit</a>
                                <a href="{{ url_for('delete_stock', id=stock.id) }}">Delete</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
