{% extends "layout.html" %}
{% block title %}Stock Management{% endblock %}
{% block content %}
    <h2>Intraday Data</h2>
    <div class="input-group input-group-merge search-bar">
        <form method="post">
            <label for="symbol">Mã chứng khoán:</label>
            <input name="symbol" class="form-control" id="exampleInputIconRight" placeholder="Search" aria-label="Search" value="{{ symbol }}" required>
            <br>
            <input type="submit" value="Search">
        </form>

    </div>
    <h6>Cá mập: (CM - SHARK)  Giá trị 1 lệnh đặt > 1 tỷ đồng/lệnh đặt.</h6>
    <h6>Sói: (SG - WOLF) Giá trị 1 lệnh đặt từ 200 tr đến 1 tỷ đồng/lệnh đặt.</h6>
    {% if tables %}
        {{ tables|safe }}
    {% endif %}
{% endblock %}

