{% extends "layout.html" %}
{% block title %}Stock Management{% endblock %}
{% block content %}
    <h2>Intraday Data</h2>
    <div class="input-group input-group-merge search-bar">
        <form method="post">
            <label for="symbol">Mã chứng khoán:</label>
            <input name="symbol" class="form-control" id="exampleInputIconRight" placeholder="Search" aria-label="Search" value="{{ symbol }}" required>
            <br>
            <input type="submit" value="Search">
        </form>

    </div>
    {%if summary_html %}
        {{ summary_html | safe }}
    {% endif %}
    {% if tables %}
        {{ tables|safe }}
    {% endif %}
{% endblock %}

