<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            {% if current_user.is_authenticated %}
                <span>Welcome, {{ current_user.username }}!</span>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% if current_user.is_admin %}
                    <a href="{{ url_for('add_stock') }}">Add Stock</a>
                {% endif %}
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
            {% endif %}
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert  flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Ẩn thông báo sau 5 giây
        $(document).ready(function() {
            setTimeout(function() {
                $(".alert ").alert('close');
            }, 3000);
        });
    </script>
</body>
</html>
